:root{
    --accent: #0f5aa1;
    --border-primary: #eeecec;
    --text: #ffffff;
    --secondary: #2E2E2E;
    --gray-border: #3E3E3E;
    --gray-border-hover: #505050;
    --gray-menu-button: #7E7E7E;
    --gray-menu-button-hover: #232323;
    --navbar-height: 4rem;
    --gray-text-hover: #8F8F8F;
    --gray-icon: #A0A0A0;
    --glow-size: 1.5rem;
}


.cta-button {
    margin-top: 2%;
    padding: 5%;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    display: flex;
    transition: all 550ms cubic-bezier(
        .36, .63, .5, .73
    );
}

.cta-button:hover {
    color: var(--accent);
}

.button-glow{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 0;
    transition: all 0.5s;
}

.button-glow h1{
    display: block;
}

.button-glow:before{
    content: '';
    margin-top: 7%;
    margin-left: 10%;

    background: linear-gradient(to right, #2612ff, #3523f7,
            #1e83ff, #c800ff, #2612ff, #3523f7,
            #1e83ff, #c800ff, #2612ff);
    position: absolute;
    background-size: 300%;
    z-index: -1;
    filter: blur(var(--glow-size));

    // Tamaño de los bordes 
    width: calc(85% + var(--glow-size));
    height: calc(95% + var(--glow-size));
    // Tamaño de los bordes 

    opacity: 0;
    border-radius: var(--border-radius);
    animation: glow 25s alternate infinite;
    transition: opacity .5s linear;
}

.button-glow:active {
    background: var(--botom-bg);
}

.button-glow:hover:before{
    opacity: 1;
}

.button-glow:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.button-glow:after {
    background: var(--botom-bg);
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}